NodeRedBluemixflows.json
[{"id":"72d867a5.7c54d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d3539dee.3bc3f8","type":"ibmiot in","z":"72d867a5.7c54d","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"502030","applicationId":"","deviceType":"senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":381.5,"y":809,"wires":[["e26506f8.0c88d","711a736f.fc884c","75304171.96cb1","e47a9217.37f4d8"]]},{"id":"e26506f8.0c88d","type":"debug","z":"72d867a5.7c54d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":616.5,"y":713,"wires":[]},{"id":"3d78823a.4d032e","type":"ui_gauge","z":"72d867a5.7c54d","name":"","group":"d87fd676.f66808","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"160","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":801.5,"y":844,"wires":[]},{"id":"7621188b.f30fb","type":"ui_gauge","z":"72d867a5.7c54d","name":"","group":"d87fd676.f66808","order":3,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":804.5,"y":902,"wires":[]},{"id":"711a736f.fc884c","type":"function","z":"72d867a5.7c54d","name":"Temp","func":" msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":608.5,"y":787,"wires":[["a9e56c35.d16288"]]},{"id":"75304171.96cb1","type":"function","z":"72d867a5.7c54d","name":"Humidity","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":844,"wires":[["3d78823a.4d032e"]]},{"id":"e47a9217.37f4d8","type":"function","z":"72d867a5.7c54d","name":"Pressure","func":" msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":902,"wires":[["7621188b.f30fb"]]},{"id":"e86ec38d.0bf8","type":"ui_button","z":"72d867a5.7c54d","name":"","group":"d87fd676.f66808","order":4,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":383.5,"y":918,"wires":[[]]},{"id":"a9e56c35.d16288","type":"ui_gauge","z":"72d867a5.7c54d","name":"","group":"d87fd676.f66808","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":804.5,"y":780,"wires":[]},{"id":"df2aa3b9.f47c48","type":"comment","z":"72d867a5.7c54d","name":"Dashboard Nodes","info":"","x":417.5,"y":654.4166870117188,"wires":[]},{"id":"df9aa5e8.806f28","type":"json","z":"72d867a5.7c54d","name":"","property":"payload","action":"","pretty":false,"x":734,"y":457,"wires":[["ed955c13.a899d8"]]},{"id":"9a32e7e5.1a985","type":"function","z":"72d867a5.7c54d","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":573,"y":459,"wires":[["df9aa5e8.806f28"]]},{"id":"94d7da6d.7d06f8","type":"inject","z":"72d867a5.7c54d","name":"","topic":"","payload":"Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":388,"y":491,"wires":[["9a32e7e5.1a985"]]},{"id":"ec59e1b8.0bd118","type":"inject","z":"72d867a5.7c54d","name":"","topic":"","payload":"Normal","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":389,"y":427,"wires":[["9a32e7e5.1a985"]]},{"id":"ed955c13.a899d8","type":"ibmiot out","z":"72d867a5.7c54d","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"080027504264","deviceType":"raspberrypi","eventCommandType":"statusindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":731,"y":577,"wires":[]},{"id":"3c6d71fb.d2c14e","type":"comment","z":"72d867a5.7c54d","name":"1.2 Activity send data from BlueMix to raspberry pi","info":"","x":522,"y":358,"wires":[]},{"id":"6fda449b.f2a61c","type":"debug","z":"72d867a5.7c54d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":603,"y":258,"wires":[]},{"id":"e6701e70.4cc7e8","type":"ibmiot in","z":"72d867a5.7c54d","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb52212117152","applicationId":"","deviceType":"senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":386,"y":259,"wires":[["6fda449b.f2a61c"]]},{"id":"e2e108e0.548558","type":"comment","z":"72d867a5.7c54d","name":"1.1 Activity receive data from raspberry pi ","info":"","x":494,"y":177,"wires":[]},{"id":"d87fd676.f66808","type":"ui_group","name":"Group 1","tab":"1630c6e.ee38539","order":1,"disp":true,"width":6},{"id":"1630c6e.ee38539","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]