RaspiNodeRed.json
[{"id":"84bc1226.d36e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"37ef172e.3176c8","type":"inject","z":"84bc1226.d36e4","name":"","topic":"","payload":"timestamp","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":140,"wires":[["2a647a49.7852a6"]]},{"id":"2a647a49.7852a6","type":"random","z":"84bc1226.d36e4","name":"","low":"1","high":"10","inte":"true","property":"payload","x":470,"y":140,"wires":[["54cd41fe.33638"]]},{"id":"54cd41fe.33638","type":"function","z":"84bc1226.d36e4","name":"Formata data","func":"msg.payload = {'d' : { 'random' : msg.payload }};\nreturn msg;\n","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["f1f93a0f.a28928","e5fd8d4d.39a6f"]]},{"id":"f1f93a0f.a28928","type":"debug","z":"84bc1226.d36e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":140,"wires":[]},{"id":"e5fd8d4d.39a6f","type":"wiotp out","z":"84bc1226.d36e4","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"f7ecbd35.33468","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":930,"y":200,"wires":[]},{"id":"51789b72.946ccc","type":"comment","z":"84bc1226.d36e4","name":"1.1 Activity send data from raspberry pi to BlueMix","info":"","x":390,"y":80,"wires":[]},{"id":"ffbfadbd.36b96","type":"comment","z":"84bc1226.d36e4","name":"1.2 Activity receive data from BlueMix ","info":"","x":350,"y":300,"wires":[]},{"id":"17ab203c.5dd6c8","type":"wiotp in","z":"84bc1226.d36e4","authType":"d","deviceKey":"f7ecbd35.33468","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":0,"name":"","x":270,"y":360,"wires":[["4c000483.15e914"]]},{"id":"4c000483.15e914","type":"debug","z":"84bc1226.d36e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"1092b70b.2cfe59","type":"function","z":"84bc1226.d36e4","name":"","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceID =\"07080903se\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":540,"wires":[["b9cddf72.4385f","9e1df2cc.8e1eb"]]},{"id":"4a763460.5892c4","type":"delay","z":"84bc1226.d36e4","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":540,"wires":[["1092b70b.2cfe59"]]},{"id":"b41710cc.4ed13","type":"rpi-sensehatsim in","z":"84bc1226.d36e4","name":"","motion":false,"env":true,"stick":false,"x":280,"y":540,"wires":[["4a763460.5892c4"]]},{"id":"b9cddf72.4385f","type":"debug","z":"84bc1226.d36e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":500,"wires":[]},{"id":"9e1df2cc.8e1eb","type":"wiotp out","z":"84bc1226.d36e4","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"baeb611.134212","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":870,"y":580,"wires":[]},{"id":"7120a6e1.a55028","type":"comment","z":"84bc1226.d36e4","name":"Node Red Sense Hat","info":"","x":300,"y":460,"wires":[]},{"id":"f7ecbd35.33468","type":"wiotp-credentials","z":"","name":"52212117152","org":"atdbvs","serverName":"","devType":"raspberrypiGW","devId":"52212117152","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"baeb611.134212","type":"wiotp-credentials","z":"","name":"","org":"atdbvs","serverName":"","devType":"gatewaypi","devId":"502030","keepalive":"60","cleansession":true,"tls":"","usetls":false}]